.product-heading {
    font-family: Helvetica;
    width: auto;
    font-size: 42px;
    text-align: center;
    font-weight: 500;
    margin-top: 70px;
    margin:30px;
    line-height: 38px;
  }
  
  .product-breadcrumbs {
    font-weight: 500;
    font-size: 14px;
    margin: -10px 0px 60px 0px;
  }
  
  .product-filters-container {
    display: flex;
    padding-left: 3.2%;
    width: 100%;
    justify-content: space-between;
  }
  
  .product-logo {
    float: right;
    cursor: pointer;
  }
  
  @media (max-width: 500px) {
    .product-logo {
      display: none;
    }
  }
  