.mainNavbar{
    background-color: rgb(255, 255, 227);
}

.UpperNavbar {
    height: 36px;
    
}

.TopText {
    font-family: cursive;
    font-size: 18px;
}

@media(max-width: 998px){
      .UpperNavbar{
        display: none;
      } 
}